.center{
	text-align: center;
}

.half-width {
    width: 50%;
    border: 1px solid #AAA;
    border-radius: 5px;
    background-color: #EEE;
    padding: 0 40px;
}

form h2{
	margin-bottom: 20px;
	text-align: center;
}